{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

    <h1 class="post-data">Portfolio & Projects</h1>

    {% for item in work %}
    <div class="col-lg-4">
        <div id="widgets">
            <div class="widget-wrapper">
                {% if item.url %}
                    <h3><a href="{{ item.url }}" target="_blank">{{ item.title|safe }}</a></h3>
                {% else %}
                    <h3><a>{{ item.title|safe }}</a></h3>
                {% endif %}
                <div class="post-edit"><p>{{ item.description|safe }}</p></div>
                {% if item.photo %}
                <a href="{{ item.url }}" target="_blank">
                    <img alt="" src="{{ MEDIA_URL }}{{ item.photo }}" />
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
