{% load static from staticfiles %}
<!Doctype html>
<!--[if lt IE 8 ]>
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
    xmlns:fb="http://www.facebook.com/2008/fbml"
    xmlns:og="http://ogp.me/ns#"
    class="no-js ie7">
<![endif]-->

<!--[if IE 8 ]>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
    xmlns:fb="http://www.facebook.com/2008/fbml"
    xmlns:og="http://ogp.me/ns#"
    class="no-js ie8">
<![endif]-->

<!--[if IE 9 ]>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
    xmlns:fb="http://www.facebook.com/2008/fbml"
    xmlns:og="http://ogp.me/ns#"
    class="no-js ie9">
<![endif]-->

<!--[if ! lt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
    xmlns:fb="http://www.facebook.com/2008/fbml"
    xmlns:og="http://ogp.me/ns#"
    class="no-js">
<!--[endif]-->

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="Responsive Django site and blog" >
        <meta name ="keywords" content="Django, Responsive, Blog, Video, Images, NGINX, Gunicorn, Celery, Ubuntu">
        <title>Django Responsive - Responsive Django Blog | YOURSITE.com</title>
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />

        <style type="text/css">
            nav select {display: none;}
        </style>

    </head>
    <body>

        <div class="container">
            <ul class="menu l_tinynav1">
                <li class="head-logo">
                    <a href="{% url 'home' %}" title="Django Responsive">
                        <img alt="Django Responsive" src="{% static "images/default-logo-4.png" %}">
                    </a>
                    </li>
                <li class="current_page_item">
                    <a href="{% url 'home' %}" title="Home">Home</a>
                    </li>
                <li class="page_item page-item-2">
                    <a href="{% url 'portfolio' %}" title="Portfolio">Portfolio</a>
                    </li>
                <li class="page_item page-item-3">
                    <a href="{% url 'blog' %}" title="Blog">Blog</a>
                    </li>
                <li class="page_item page-item-4">
                    <a href="{% url 'contact' %}" title="Contact">Contact</a>
                    </li>
            </ul>

                <div id="tiny-head-logo">
                    <a href="{% url 'home' %}" title="Django Responsive">
                        <img alt="Django Responsive" src="{% static "images/default-logo-4.png" %}">
                    </a>
                </div>

            <nav>
                <select id="tinynav1" class="tinynav">
                    <option value="{% url 'home' %}" selected="selected">Home</option>
                    <option value="{% url 'portfolio' %}">Portfolio</option>
                    <option value="{% url 'blog' %}">Blog</option>
                    <option value="{% url 'contact' %}">Contact</option>
                </select>
            </nav>

    {% block content %}{% endblock %}

        <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>

        <script type="text/javascript">

            $("<select />").appendTo("nav");

            $("<option />", {
                "selected": "selected",
                "value"   : "",
                "text"    : "Go to..."
             }).appendTo("nav select");

            $("nav a").each(function() {
             var el = $(this);
             $("<option />", {
                 "value"   : el.attr("href"),
                 "text"    : el.text()
             }).appendTo("nav select");
            });

            $('nav select').change(function(){
                var tinynav = $(this).find("option:selected").val();
                window.location = tinynav
            });

        </script>

        <script>

        jQuery(document).ready(function ($) {
            $("a[href=#scroll-top]").click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, "slow");
                return false;
            });
        });

        </script>

        <div id="footer" class="clearfix">
        {% block footer %}
            <div id="footer-wrapper">
                <div class="grid col-940">
                    <div class="grid col-540">
                        <ul id="menu-foot" class="footer-menu">
                            <li id="menu-item-715" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-715">
                             <a href="{% url 'home' %}" title="Home">Home</a></li>
                            <li id="menu-item-716" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-716">
                             <a href="{% url 'portfolio' %}" title="Home">Portfolio</a></li>
                            <li id="menu-item-717" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-717">
                             <a href="{% url 'blog' %}" title="Blog">Blog</a></li>
                            <li id="menu-item-718" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-718">
                             <a href="{% url 'contact' %}" title="Contact">Contact</a></li>
                        </ul>

                    </div><!-- end of col-540 -->

                    <div class="grid col-380 fit">
                     <ul class="social-icons">
                    {% for link in social %}
                      <li class="twitter-icon"><a href="{{ link.twitter_url }}" target="_blank" title="Twitter"><img src="{% static "images/icons/glyphicons_social_31_twitter.png" %}" width="24" height="24" alt="Twitter"></a></li>
                      <li class="linkedin-icon"><a href="{{ link.linkedin_url }}" target="_blank" title="LinkedIn"><img src="{% static "images/icons/glyphicons_social_17_linked_in.png" %}" width="24" height="24" alt="Twitter"></a></li>
                      <li class="github-icon"><a href="{{ link.github_url }}" target="_blank" title="Github"><img src="{% static "images/icons/glyphicons_social_21_github.png" %}" width="24" height="24" alt="Google Plus"></a></li>
                    {% endfor %}
                     </ul>
                    </div>

                </div><!-- end of col-940 -->

                <div class="grid col-300 copywright">
                    &copy; {% now "Y" %} <a href="#" title="">Your Site</a>
                </div><!-- end of .copyright -->

                <div class="grid col-300 scroll-top">
                    <a href="#scroll-top" title="scroll to top">&uarr;</a>
                </div><!-- end of .scroll-top -->

                <div class="grid col-300 fit powered">
                    <a href="/" title="Django Responsive">
                    Responsive Theme</a>
                    powered by <a href="https://www.djangoproject.com/" title="Django">
                    Django</a>
                </div><!-- end .powered -->

            </div><!-- end #footer-wrapper -->
        {% endblock %}
        </div><!-- end #footer -->

    </div>{# /container #}

    <script type="text/javascript" src="{% static "js/responsive-modernizr.js" %}"></script>
    </body>
</html>
