{% extends "base.html" %}
{% load i18n %}

{% block content %}

<style>
.featured-title {
  padding-top: 0 !important;
}
</style>

<div class="fluid-container">
    <div id="wrapper-home" class="clearfix">
        <div class="col-300">
            <h1 class="featured-title">Contact</h1>
                <div id="respond" class="comment-repsond">
                    <form name="Contact" action="" method="POST">{% csrf_token %} 
                    {{ form.non_field_errors }}
                    <div class="comment-form-author">
                        <label for="id_name">Name</label>
                        <input id="id_name" name="name" type="text" class="input instant-input" value="{{ form.name.value|default_if_none:"" }}">
                        <label>{{ form.name.errors }}</label>
                    </div>
                    <div class="comment-form-email">
                        <label for="id_email_address">Email</label>
                        <input id="id_email_address" name="email_address" type="text" value="{{ form.email_address.value|default_if_none:"" }}">
                        <label>{{ form.email_address.errors }}</label>
                    </div>
                    <div class="instant-select instant-input">
                        <label for="id_subject">Subject</label>
                        <div class="comment-form-subject">{{ form.subject }}</div>
                        <label>{{ form.subject.errors }}</label>
                    </div>
                        <div class="comment-form-comment">
                        <label for="id_message">Message</label>
                        <textarea rows="5" id="id_message" name="message" value="{ form.message|default_if_none:"" }"></textarea>
                        <label>{{ form.message.errors }}</label>
                    </div>
                    <div class="form-submit">
                        <p><input type="submit" value="Send Message"></p>
                    </div>
                    </form>
                  </div>
              </div>
           </div>
        </div>
     </div>

{% endblock %}
